@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url('../fonts/CalSans-SemiBold.woff') format('woff'), url('../fonts/CalSans-SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  color: #666;
}

a {
 text-decoration: none; 
}

li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------*/ 
.title {
  font-family: CalSans;
  color: #121212;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;

  @media (max-width: 767.98px) {
    font-size: 38px;
  }

  span {
    color: #FF6428;
  }
}
/*--------------------------------------*/ 
.page {
  flex: 1 1 auto;
}

.page__main {}

.page__store {
}

.page__categories {
}

.page__brands {
}

.page__why {
}
/*--------------------------------------*/ 

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*--------------------------------------*/ 
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  min-height: 155px;
  align-items: center;

  @media (max-width:1092px) {
    min-height: 100px;
  }

  @media (max-width:767.98px) {
    min-height: 65px;
  }
}
.header__logo {
  margin: 0px 131px 0px 0px;

  @media (max-width:1092px) {
    margin: 0px 50px 0px 0px; 
  }

   @media (max-width:479.98px) {
    margin: 0px 15px 0px 0px; 
    flex: 0 0 28px;
    overflow: hidden;
  }
}
.header__menu {
}
.menu {
  padding: 10px 15px 10px 0px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.8);

  @media (max-width:479.98px) {
    padding: 0px;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  &:not(:last-child) {
    margin: 0px 56px 10px 0px;
  }

  @media (max-width:1092px) {
    &:not(:last-child) {
      margin: 0px 40px 10px 0px;
    }  
  }

  @media (max-width:479.98px) {
    &:not(:last-child) {
      margin: 0px 20px 10px 0px;
    }  
  }
}
.menu__link {
  color: rgba(18, 18, 18, 0.40);
  font-weight: 500;
  line-height: 1.2;

  &:hover {
    text-decoration: underline;
  }
}

/*--------------------------------------*/ 
.main {
  padding: 0px 0px 80px 0px;

  @media (max-width: 991.98px)  {
    padding-bottom: 50px;
  }

  @media (max-width: 767.98px)  {
    padding-bottom: 30px;
  }
}
.main__container {
  display: flex;
}
.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding: 120px 20px 60px 0px;

  @media (max-width:1092px) {
    flex: 0 0 60%;
    padding-bottom: 0px;
  }

  @media (max-width:767.98px) {
    flex: 1 1 100%;
    padding-right: 0px;
    padding-top: 80px;
  }
}
.main__title {
  color: #121212;
  font-family: CalSans;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.2;

  &:not(:last-child) {
    margin: 0px 0px 16px 0px;
  }

  span {
    color: #FF6428;
  }

  @media (max-width: 767.98px) {
    font-size: 44px;
  }
}
.main__text {
  font-weight: 500;
  max-width: 420px;
  line-height: 1.2;

  &:not(:last-child) {
    margin: 0px 0px 33px 0px;
  }
}
.main__actions {
  display: flex;
  align-items: center;
}
.actions-main {
  @media (max-width: 479.98px) {
    flex-wrap: wrap; 
    justify-content: center;  
  }
}
.actions-main__button {
  text-align: center;
  padding: 18.5px 48px; 
  background-color: #FF6428;
  border-radius: 40px;  
  color: #FFF;
  font-weight: 600;
  line-height: 1.2;

  transition: all 0.3s ease 0s;

  &:not(:last-child) {
    margin: 0px 40px 0px 0px;
  }

  &:hover {
    background-color: #ba4619;
  }

  @media (max-width: 479.98px) {
    flex: 1 1 100%;   
    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 15px;
    }
  }
}
.actions-main__icon {
}
.main__decor {
  flex: 0 1 50%;

  @media (max-width:1092px) {
    flex: 0 0 40%;
  }

  @media (max-width:767.98px) {
      display: none;
    }
}

.main__image {
  position: relative;
  margin-right: -135px;
  max-width: 672px;
  padding-bottom: 97.6%;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0px 0px 160px 375px;

    @media (max-width:1092px) {
      width: 100%;
    }
  }

  &::after {
    content: '';
    background: url('../img/main/decor.svg') 0 0 no-repeat;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 36.3%;
    bottom: 0;
    transform: translate(0,50%);
  }
}

/*--------------------------------------*/

.store {
  padding-top: 80px;
  padding-bottom: 100px;

  @media (max-width: 991.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

}
.store__container {
}
.store__title {
  margin-bottom: 86px;
  line-height: 1.2;

  @media (max-width: 991.98px) {
    margin-bottom: 50px;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}
.store__body {
}
.body-store {
}
.body-store__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 32px;
}
.body-store__title {
  color: #121212;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  line-height: 1.2;
}
.body-store__all {
  color: #868686;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;

  @media (max-width: 991.98px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 560px) {
    grid-template-columns: repeat(1, 1fr);
  }
  
}
.body-store__item {
}
.item {
  display: grid;

}
.item__image {
  text-align: center;

  & img {
    max-width: 100%;
  }
  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
}
.item__title {
  color: #121212;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  justify-self: start;

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &:hover {
    text-decoration: underline;
  }
}
.item__price {
  font-size: 14px;
  font-weight: 400;
  line-height:1.2;
  justify-self: start;
}

/*--------------------------------------*/ 
.categories {
  padding-top: 80px;
  padding-bottom: 116px;

  @media (max-width: 991.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.categories__container {
}
.categories__title {
  margin-bottom: 80px;

  @media (max-width:991.98px) {
    margin-bottom: 50px;
  }

  @media (max-width:767.98px) {
    margin-bottom: 20px;
  }
}
.title {
}
.categories__items {
  max-width: 1087px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 35px;

  @media (max-width:1023px) {
    column-gap: 40px;    
  }

  @media (max-width:991.98px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;    
  }

  @media (max-width:479.98px) {
    grid-template-columns: repeat(1, 1fr); 
    row-gap: 20px;
  }

}
.categories__item {  
}
.item-category {
  position: relative;

  &:hover {
    & .item-category__image img {
      transform: scale(1.1);
    }
  }
}

.item-category__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  z-index: 3;

}
.item-category__image {
  position: relative; 
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 127%; 

  & img {
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;    
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 50%, rgba(0, 0, 0, 0.80) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
}

/*--------------------------------------*/ 

.brands {
  padding-top: 104px;
  padding-bottom: 182px;

  @media (max-width: 991.98px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.brands__container {
}
.brands__title {
  margin-bottom: 96px;

  @media (max-width: 991.98px) {
    margin-bottom: 40px;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.brands__items {
  max-width: 1020px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 80px;

  @media (max-width: 991.98px) {
    grid-template-columns: repeat(3, auto);
    row-gap: 50px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    row-gap: 20px;
  }
}
.brands__item {
  text-align: center;
  & img {
    max-width: 100%;
  }
}

/*--------------------------------------*/

.why {
  background-color: #121212;
  padding-top: 93px;
  padding-bottom: 94px;
}
.why__container {
}
.why__title {
  color: #FFF;
  margin-bottom: 75px;
}

.why__items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 30px;
}
.why__item {
}
.item-why {
  display: grid;
  justify-items: center;
  padding: 40px;
  text-align: center;
}
.item-why__icon {
  border-radius: 20px;
  background: #262626;
  padding: 20px;
}
.item-why__title {
}
.item-why__subtitle {
}